<h1 class="text-primary font-weight-light">Login</h1>
<form action="/login" method="POST">
  <input type="text" class="form-control my-2" name="username" placeholder="Username" required>
  <input type="password" class="form-control my-2" name="password" placeholder="Password" required>
  <input type="submit" class="form-control btn btn-primary my-2" value="submit">
</form>